extends layout
block content
	div.content(ng-controller='MapCtrl')
		p Введите адрес
		span Город
		input(ng-model='cityName'): br
		span Адрес
		input(ng-model='address', style="width:200px;margin-bottom:20px")
		br
		button(ng-click='add()') Определить координаты адреса и добавить его на карту
		br
		button(ng-click="generateMap()", style="margin-bottom:10px;") Тыцните для регенерации карты
			ul
				li(ng-repeat="point in points")
					span(class='{{point.state}}')
						| {{$index+1}}
						| {{point.name}}
						| {{point.location}}
						span(class="remove",ng-click='remove(point)') [X]
		div.mapContainer(style="width:{{mapWidth}}px; height: {{mapHeight}}px; ")
			#map
		h3 Размер карты, px
		span Ширина
		input(ng-model='width')
		span Высота
		input(ng-model='height')
		button(ng-click="changeMapSize()") Установите размер карты
