extends layout
block content
	div(ng-controller='MapCtrl')
		h3
		p(style="width:510px;") Мышка тебе в помощь :)  Посмотри подходит или нет. Поиграй с картой.
			| Для прикола щелкни на метке, адрес не уточнял, но идея, думаю,  понятна.
			| Здесь с помощью кода можно настроить практически все.. и бесплатно.
			| И даже есть детализация с точностью до строения. На гугле такого нету.
			| Метку можно нарисовать как угодно - будет кружок с номером объявы.
			| Готовую карту можно экспортировать в jpg, png, bmp ........
		#map