extends layout

block content
	div(ng-controller='MapCtrl')
		h1 Поиграй с картой
		h2 Мышка тебе в помощь :)
		p Для прикола щелкни на метке, адрес не уточнял, но идея, думаю,  понятна
		p Здесь с помощью кода можно настроить практически все.. и бесплатно.
		#map