doctype 5
html(ng-app)
	head
		title Карта для Павла Михайловича
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='leaflet.css')
		script(type="text/javascript", src="/javascripts/angular.min.js")
		script(type="text/javascript", src="/javascripts/jquery-1.10.2.min.js")
		script(type="text/javascript", src="leaflet.js")
		script(type="text/javascript", src="/javascripts/client.js")
	body
		block content
