doctype 5
html(ng-app)
	head
		title Карта для Павла Михайловича
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='leaflet.css')
		link(rel='stylesheet', href='/stylesheets/mapbox.css')
		meta(name='viewport', content='initial-scale=1.0 maximum-scale=1.0')
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		script(type="text/javascript", src="/javascripts/angular.min.js")
		script(type="text/javascript", src="/javascripts/jquery-1.10.2.min.js")
		script(type="text/javascript", src="leaflet.js")
		script(type="text/javascript", src="/javascripts/client.js")
		script(type="text/javascript", src="/javascripts/mapbox.js")
		script(type="text/javascript", src="/javascripts/leaflet-image.js")
		script window.L_PREFER_CANVAS = true;
	body
		block content